[submodule "GameEngine/vendor/Quicklog"]
	path = GameEngine/vendor/Quicklog
	url = https://github.com/smile-with-life/QuickLog
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
